body {
    overflow: hidden;
}

.ball {
    border-radius: 50%;
    aspect-ratio: 1;
    color: green;

    position: absolute;
    translate: -50% -50%;
    
    transition: all .05s;

    background-position: center;
    background-size: contain;
}

#ball-container {
    position: absolute;
    width: 60vh;
    height: 60vh;

    left: 50%;
    top: 50%;

    translate: -50% -50%;

    background-color: black;
}

#score-display {
    position: absolute;
    right: 3em;
    top: 3em;

    font-size: 2vh;
}

.b1 {
    background-image: url("./imgs/c1.jpeg");
}

.b2 {
    background-image: url("./imgs/c2.jpg");
}
.b3 {
    background-image: url("./imgs/c3.jpg");
}
.b4 {
    background-image: url("./imgs/c4.jpg");
}
.b5 {
    background-image: url("./imgs/c5.jpg");
}