:root {
    --background-color: #cf9c51;
    --sides-color: #b07112;
    --border-width: .5vh;
}

body {
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--sides-color);
    font-family: "Poppins";
}

.ball {
    border-radius: 50%;
    aspect-ratio: 1;
    color: green;

    position: absolute;
    translate: -50% -50%;
    
    transition: all .05s;

    background-position: center;
    background-size: contain;
}

#ball-container {
    position: absolute;
    width: min(60vh, 90vw);
    aspect-ratio: 1;

    left: 50%;
    top: 50%;

    translate: -50% -50%;

    /* background-color: black; */

    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--sides-color);
}

#ball-line {
    --s: calc(var(--border-width) / 2);

    position: absolute;
    width: calc(100% - var(--s));
    height: 0px;
    top: calc(20% - var(--s));

    border-width: var(--s);
    border-color: var(--sides-color);
    border-style: dashed;

}

#score-display {
    position: absolute;
    right: 5%;
    top: 5%;

    font-size: 4vh;
}

#game-end-countdown {
    /* position: absolute; */
    text-align: center;
    /* right: 3em;
    top: 3em; */

    margin-top: 10vh;

    font-size: 5vh;
}

#restart-button {
    position: absolute;
    text-align: center;
    /* right: 3em;
    top: 3em; */
    bottom: 5vh;
    left: 50vw;
    translate: -50% 0px;

    /* margin-top: 75vh; */

    font-size: 5vh;

    border-radius: .25em;



    padding: .25em;
    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--sides-color);

    cursor: pointer;

    transition: all .25s;
}

#restart-button:hover {
    scale: 1.1;
}

.b1 {
    background-image: url("./imgs/c1.jpeg");
    
}

.b2 {
    background-image: url("./imgs/c2.jpg");
    
}
.b3 {
    background-image: url("./imgs/c3.jpg");
    
}
.b4 {
    background-image: url("./imgs/c4.jpg");
    
}
.b5 {
    background-image: url("./imgs/c5.jpg");
    
}